$parallax-perspective: 8px;

@function parallax-scale-factor($z-distance) {
  @return (8px -  $z-distance) / $parallax-perspective;
}

@mixin parallax-container() {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: $parallax-perspective;
  perspective-origin: 50%;
}
@mixin parallax($amount) {
  transform: translateZ($amount + px) scale((8px-$amount)/8px);
}
