.gallery {
  box-sizing: content-box;
  margin: -9px;
  padding-top: 8px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 600px) {
    height: 200px;
    overflow-y: hidden;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.gallery--photo {
  margin: 8px;
}

.gallery--photo--column {
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    justify-content: center;
    flex-direction: row;
  }
}

.gallery--photo--big {
  max-width: 177px;
  max-height: 177px;
  border-radius: 8px;
}

.gallery--photo--small {
  max-width: 80px;
  max-height: 80px;
  border-radius: 4px;
}
