@import "./utils/parallax.scss";

html {
  --ROUNDED_BOX_SIZE: 900px;
  --CONTAINER_SIZE: 1152px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include parallax-container();
}

.background {
  position: absolute;
  top: 45px;
  width: 105%;
  min-height: 800px;
  background-image: url("https://s3-eu-west-1.amazonaws.com/production-hairdressr/fe-dummy/cover.png");
  background-size: cover;
  background-position: center;
  @include parallax(-5);
  margin-top: -50px;
  z-index: -5;
}

.container {
  margin-top: 750px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  top: -188px;
  margin-bottom: -188px;

  display: flex;
  flex-direction: column;
  align-items: center;
  // @include parallax(0);
  z-index: 0;
}

.container--rounded-box {
  position: relative;
  width: calc(100% - 100px);
  max-width: var(--CONTAINER_SIZE);

  height: var(--ROUNDED_BOX_SIZE);
  border-radius: 12px;
  background-color: #ffffff;
  padding: 20px 50px;
  margin: 0px 50px;

  background: #ffffff;
  transition: width 0.5s, max-width 0.5s, border-radius 0.25s linear;
  z-index: -1;
}

.container--rounded-box--scrolled {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  transition: width 0.5s, max-width 0.5s, border-radius 1s linear;
}

.container--content {
  position: relative;
  top: calc(-1 * var(--ROUNDED_BOX_SIZE));
  margin-bottom: calc(-1 * var(--ROUNDED_BOX_SIZE));

  max-width: var(--CONTAINER_SIZE);
  padding: 42px 100px;

  display: flex;
}

.container--content--main {
  max-width: 566px;
}

.container--content--sidebar {
  max-height: 100px;
  position: -webkit-sticky;
  position: sticky;
  margin-top: -200px;
  top: 0px;
  margin-bottom: -150px;
  margin-left: 80px;

  @include parallax(-1);
  z-index: 1;
  transform-origin: 0% 0%;
}
