html {
  --ROUNDED_BOX_SIZE: 900px;
  --CONTAINER_SIZE: 1152px;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: absolute;
  top: 45px;
  width: 100%;
  min-height: 800px;
  background: black;
  background-image: url("https://s3-eu-west-1.amazonaws.com/production-hairdressr/fe-dummy/cover.png");
  background-size: cover;
  background-position: center;
  margin-top: -50px;
  z-index: -5;

  @media (max-width: 600px) {
    min-height: 500px;
  }
}

.container {
  margin-top: 750px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  top: -188px;
  margin-bottom: -188px;

  display: flex;
  flex-direction: column;
  align-items: center;
  // @include parallax(0);
  z-index: 0;

  @media (max-width: 600px) {
    margin-top: 500px;
  }
}

.container--rounded-box {
  position: relative;
  width: calc(100% - 100px);
  max-width: var(--CONTAINER_SIZE);

  height: var(--ROUNDED_BOX_SIZE);
  border-radius: 12px;
  background-color: #ffffff;
  padding: 20px 50px;
  margin: 0px 50px;

  background: #ffffff;
  transition: width 0.5s, max-width 0.5s, border-radius 0.25s linear;
  z-index: -1;

  @media (max-width: 600px) {
    width: calc(100% - 10vw);
  }
}

.container--rounded-box--scrolled {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  transition: width 0.5s, max-width 0.5s, border-radius 1s linear;
}

.container--content {
  position: relative;
  top: calc(-1 * var(--ROUNDED_BOX_SIZE));
  margin-bottom: calc(-1 * var(--ROUNDED_BOX_SIZE));

  width: calc(100% - 100px);
  max-width: var(--CONTAINER_SIZE);
  padding: 42px 100px;

  display: flex;

  @media (max-width: 900px) {
    padding: 42px 10vw;
    flex-direction: column;
    width: calc(100% - 15vw);
  }
}

.container--content--main {
  max-width: 566px;
  padding: 0px 0px;
  margin-right: 80px;
  @media (max-width: 900px) {
    margin-right: 0px;
  }
}

.container--content--sidebar {
  @media (min-width: 900px) {
    align-self: baseline; //needed by sticky
    position: sticky;
    top: 0px;
    margin-top: -160px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}
