html {
  --ROUNDED_BOX_SIZE: 200px;
  --CONTAINER_SIZE: 1152px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  width: 100%;
}

.container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  top: -188px;
  margin-bottom: -188px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container--rounded-box {
  width: calc(100% - 100px);
  max-width: var(--CONTAINER_SIZE);

  height: var(--ROUNDED_BOX_SIZE);
  border-radius: 12px;
  background-color: #ffffff;
  padding: 20px 50px;
  margin: 0px 50px;

  background: #ffffff;
  transition: max-width 0.5s, border-radius 0.25s linear;
}

.container--rounded-box--scrolled {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  transition: max-width 0.5s, border-radius 1s linear;
}

.container--content {
  position: relative;
  top: calc(-1 * var(--ROUNDED_BOX_SIZE));
  margin-bottom: calc(-1 * var(--ROUNDED_BOX_SIZE));

  max-width: var(--CONTAINER_SIZE);
  padding: 42px 100px;

  display: flex;
}

.container--content--main {
  max-width: 566px;
}

.container--content--sidebar {
  max-height:100px;
  position: -webkit-sticky;
  position: sticky;
  margin-top:-200px;
  top: 15px;
  margin-bottom: -150px;
  margin-left: 80px;
}
