html {
  --ROUNDED_BOX_SIZE: 200px;
  --CONTAINER_SIZE: 1152px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  width: 100%;
}

.container {
  box-sizing: border-box;
  position: relative;
  top: -188px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container--rounded-box {
  width: 100%;
  max-width: calc(var(--CONTAINER_SIZE) - 100px);

  height: var(--ROUNDED_BOX_SIZE);
  border-radius: 12px;
  background-color: #ffffff;
  padding: 20px 50px;
  margin: 0px 50px;

  background: #ffffff;
  transition: max-width 0.5s, border-radius 0.25s linear;
}

.container--rounded-box--scrolled {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  border-radius: 0px;
  transition: max-width 0.5s, border-radius 1s linear;
}

.container--content {
  position: relative;
  top: calc(-1 * var(--ROUNDED_BOX_SIZE));
  margin: 0px 50px;
  max-width: calc(var(--CONTAINER_SIZE) - 100px);
  padding: 50px;
}
